{% extends "layout.html" %}

{% block title%}Listado de articulos{% endblock%}

{% block  content%}
<h1 class = "title">Listado de articulos</h1>

{% if messages %}
    {% for message in messages %}
        <div class="message">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
<ul>
    {% for articulo in articuloss  %}
        <li>
            <h4>{{articulo.id}}. {{articulo.title}}</h4>
            <span>{{articulo.created_at}}</span>
            {% if articulo.public %}
                <strong>Publicado</strong>
            {% else %}
                <strong>Privado</strong>
            {% endif %}
            <p>
                {{articulo.content}}<br/>
                <a href="{% url 'borrar_articulo' articulo.id %}">Eliminar Articulo</a>
            </p>
            
            <br/>
        </li>
    {% endfor %}
</ul>
{% endblock  %}
