<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}{% endblock %}
    </title>
    {% load static%}    
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <!-- Cabecera de la pagina -->
    <header>
        <div id="logotipo">
            <!-- Logo django -->
             <img src="{% static 'images/logo.png' %}"/>
            <h1>Sitio Web con Django</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio'%}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'articulos' %}">Articulos</a>
            </li>
            <li>
                <a href="{% url 'create' %}">Crear Articulo</a>
            </li>
            <li>
                <a href="{% url 'hola_mundo' %}">Hola Mundo</a>
            </li>
            <li>
                <a href="{% url 'pagina' %}">Pagian Pruebas</a>
            </li>
            <li>
                <!--<a href="{% url 'contacto' 'daniel' 'vera' %}">Contacto</a> -->
                <a href="{% url 'contacto' %}">Contacto</a>
            </li>
        </ul>
    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>

    </div>


    <!-- Caja de contenido-->
    <div id="content">
        
        <div class="box">
            {% block content%}
                <strong>Esta es una etiqueta del template padre orgiginal, usando "{ {block.super} }"</strong>
            {% endblock%}
        </div>
    </div>

    <footer>
        Master en Python usando Django, flask y Tkinter &copy; con Daniel - {% now 'D/M/Y --- h:m:s' %}
    </footer>
</body>

</html>